<div
  class="card-body fixed-top border-success"
  style="background-color: rgba(255, 255, 255, 0.2);"
>
  <div class="card my-1" style="background-color: rgba(0, 0, 0, 0.5);">
    <h5 class="card-title text-center text-white">
      APLIKACIJA FPIS FON@2020
    </h5>
    <ul class="text-center list-inline py-1">
      <li class="list-inline-item">
        <a routerLink="/kupac-svi" class="btn btn-info">Kupci</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/fakture-svi" class="btn btn-info">Fakture</a>
      </li>
    </ul>
  </div>
</div>
