<div class="card-body">
  <ul class="text-center list-inline py-3">
    <li class="list-inline-item">
      <a routerLink="/kupac-novi" class="btn btn-outline-success"
        >Dodaj kupca</a
      >
    </li>
    <li class="list-inline-item">
      <a routerLink="/kupac-pretraga" class="btn btn-outline-warning"
        >Pronadji kupca</a
      >
    </li>
  </ul>
  <table class="table text-white table-striped">
    <thead class="thead-dark">
      <tr>
        <th>PIB</th>
        <th>Naziv kupca</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Grad</th>
        <th>Ulica</th>
        <th>Broj</th>
        <th>Potpis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kupac of kupci">
        <td>{{ kupac.pib }}</td>
        <td>{{ kupac.nazivKupca }}</td>
        <td>{{ kupac.emailKupca }}</td>
        <td>{{ kupac.telefonKupca }}</td>
        <td>{{ kupac.adresa.ulica.grad.nazivGrada }}</td>
        <td>{{ kupac.adresa.ulica.nazivUlice }}</td>
        <td>{{ kupac.adresa.brojAdrese }}</td>
        <td>{{ kupac.potpis }}</td>
      </tr>
    </tbody>
  </table>
</div>
