<div class="card-body">
  <ul class="text-center list-inline py-3">
    <li class="list-inline-item">
      <a routerLink="/faktura-novi" class="btn btn-outline-success"
        >Dodaj fakturu</a
      >
    </li>
    <li class="list-inline-item">
      <a routerLink="/faktura-pretraga" class="btn btn-outline-warning"
        >Pronadji fakturu</a
      >
    </li>
  </ul>
  <table class="table text-light table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sifra fakture</th>
        <th scope="col">Datum prometa</th>
        <th scope="col">Valuta</th>
        <th scope="col">Nacin placanja</th>
        <th scope="col">Nacin isporuke</th>
        <th scope="col">Grad</th>
        <th scope="col">Ulica</th>
        <th scope="col">Broj</th>
        <th scope="col">Potpis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faktura of fakture">
        <td>{{ faktura.sifraFakture }}</td>
        <td>{{ faktura.datumPrometa }}</td>
        <td>{{ faktura.valuta }}</td>
        <td>{{ faktura.nacinIsporuke.tipNacinaIsporuke }}</td>
        <td>{{ faktura.nacinPlacanja.vrstaPlacanja }}</td>
        <td>{{ faktura.adresa.ulica.grad.nazivGrada }}</td>
        <td>{{ faktura.adresa.ulica.nazivUlice }}</td>
        <td>{{ faktura.adresa.brojAdrese }}</td>
        <td>{{ faktura.zaposleni.jmbg }}</td>
      </tr>
    </tbody>
  </table>
</div>
