<div @fadeAnimation>
  <ul class="text-center list-inline py-3">
    <li class="list-inline-item">
      <a routerLink="/faktura-novi" class="btn btn-outline-success"
        >Dodaj fakturu</a
      >
    </li>
    <li class="list-inline-item">
      <a routerLink="/faktura-pretraga" class="btn btn-outline-warning"
        >Pronadji fakturu</a
      >
    </li>
  </ul>
  <table class="table text-light table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Sifra fakture</th>
        <th>Datum prometa</th>
        <th>Valuta</th>
        <th>Nacin isporuke</th>
        <th>Nacin placanja</th>
        <th>Grad</th>
        <th>Ulica</th>
        <th>Broj</th>
      </tr>
    </thead>
    <tbody [@tableAnimation]="fakture">
      <tr *ngFor="let faktura of fakture">
        <td>{{ faktura.sifraFakture }}</td>
        <td>{{ faktura.datumPrometa }}</td>
        <td>{{ faktura.valuta }}</td>
        <td>{{ faktura.nacinIsporuke.tipNacinaIsporuke }}</td>
        <td>{{ faktura.nacinPlacanja.vrstaPlacanja }}</td>
        <td>{{ faktura.adresa.ulica.grad.nazivGrada }}</td>
        <td>{{ faktura.adresa.ulica.nazivUlice }}</td>
        <td>{{ faktura.adresa.brojAdrese }}</td>
      </tr>
    </tbody>
  </table>
</div>
